<h1 id="h1-saved">Your Saved Articles</h1>
<div>
  {{#each articles}}
    {{#if this.saved}}
      <div class="card" id="savedCard">
        <div class="card-body">
          <a href="http://nytimes.com{{this.link}}" target="_blank">
            <h3 class="card-title">{{this.title}}</h3>
          </a>
          <p class="card-subtitle mb-2 text-muted">{{this.snip}}</p>
          
          <button type="button" class="btn btn-success btn-sm addComment" id="{{this._id}}" 
            data-toggle="modal" data-target=".article">Comment</button>  
          
          <button type="button" class="btn btn-danger btn-sm delete" id="{{this._id}}">
              Delete</button>
        </div>
      </div>
    {{/if}}
    {{/each}}

      {{#each articles}}
       {{!-- {{#if this.saved}} --}}
      <div class="modal fade article" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
           <div class="modal-content modal-width modal-box">
             <div class="modal-header">
               <h5 class="modal-title"></h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>

             <div class="modal-body">
               <div id="noteBox">
                 <div class="row">
               </div>  <!-- close noteBox -->
                 <div class="savedUserNote">
                    <textarea type="text" id="userNote" rows="4" cols="50" placeholder="New Comment"></textarea>
                 </div>
               {{!-- <textarea type="text" class="userNote" rows="4" cols="50" placeholder="New Comment"></textarea> --}}
             </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
              Close</button>
       <button type="button" class="btn btn-primary btn-sm saveNote" id="{{this._id}}" data-dismiss="modal">
       Save Comment</button>
          </div>
       </div>
    </div>
  </div>
     {{!-- {{/if}} --}}
    {{/each}}
</div>